body.team {
  h1 {
    font-size: 2.5em;
    font-weight: normal;
    padding-top: 1em;
    text-align: center;
    text-transform: none;
  }

  .lead {
    color: #797979;
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
  }

  .headshots {
    width: 100%;
  }

  .headshots td {
    padding: 8px;
    text-align: center;
  }

  .headshots tr:not(:last-child) td {
    padding-bottom: 2em;
  }

  .avatar {
    &:hover,
    &:active {
      border: none;
    }
  }

  .avatar img {
    border-radius: 50%;
    height: 128px;
    width: 128px;
  }

  .name {
    font-weight: bold;
  }

  .social {
    font-size: 24px;
    // specificity hack because #content ul is more specific
    margin: 0 !important;
  }

  .social li {
    display: inline-block;
  }

  .social a:link,
  .social a:visited {
    color: #7C7A79;
  }

  .social a:hover,
  .social a:active {
    border: none;
    color: #F23818;
  }

  .social span {
    display: inline-block;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    width: 1px;
  }

  .bio {
    font-size: 0.9em;
    text-align: left;
  }

  .contributors {
    .avatar {
      position: relative;
    }

    .avatar img {
      height: 64px;
      width: 64px;
    }

    .avatar .type {
      background: #F23818;
      border-radius: 4px;
      bottom: -4px;
      color: white;
      font-size: 0.8em;
      font-weight: bold;
      left: 10px;
      line-height: 1.5em;
      position: absolute;
      right: 10px;
      text-align: center;
    }
  }
}
